<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join the club | Members Only</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/fonts.css" />
    <link rel="stylesheet" href="/styles/colors.css" />
    <link rel="stylesheet" href="/styles/formPage.css" />
    <%- include("./partials/icon.ejs") %>
  </head>
  <body class="blue-lightness-1-background muted-white-text">
    <section>
      <h1 class="playfair accent-yellow-text">Join the club!</h1>
      <p>Club members are able to:</p>
      <ul>
        <li>see when and by whom a message was posted.</li>
        <li>post their own messages.</li>
      </ul>
    </section>

    <section>
      <%- include("./partials/errorList.ejs") %>
      <form method="post">
        <label for="passcode">Type: "I'd like to join the club."</label>
        <input
          type="text"
          name="passcode"
          id="passcode"
          value="<%= locals.previous?.passcode %>"
        />
        <input type="hidden" name="id" value="<%= locals.user?.id %>" />
        <button
          type="submit"
          class="blue-lightness-0-text accent-yellow-background saturated-accent-yellow-background-on-hover"
          id="submitButton"
        >
          Join
        </button>
      </form>
    </section>
  </body>
</html>
