:root{
  --muted-white: #eef0f2;
  --blue-lightness-0: #001233;
  --blue-lightness-1: #001845;
  --blue-lightness-2: #002855;
  --blue-lightness-3: #023e7d;
  --blue-lightness-4: #0353a4;
  --blue-lightness-5: #0466c8;
  --accent-yellow: #f8e79b;
  --saturated-accent-yellow: #fadf66;
  --accent-green: #bff1b2;
  --delete-brown: #eb5e28;
  --dark-delete-brown: #ce4813;
}

.muted-white-background {
  background-color: var(--muted-white);
}

.blue-lightness-5-background {
  background-color: var(--blue-lightness-5);
}

.blue-lightness-4-background, .blue-lightness-4-background-on-hover:hover {
  background-color: var(--blue-lightness-4);
}

.blue-lightness-3-background {
  background-color: var(--blue-lightness-3);
}

.blue-lightness-2-background{
  background-color: var(--blue-lightness-2);
}

.blue-lightness-1-background {
  background-color: var(--blue-lightness-1);
}

.blue-lightness-0-background, .blue-lightness-0-background-on-hover:hover {
  background-color: var(--blue-lightness-0);
}

.accent-yellow-background {
  background-color: var(--accent-yellow);
}

.saturated-accent-yellow-background-on-hover:hover {
  background-color: var(--saturated-accent-yellow);
}

.delete-brown-background{
  background-color: var(--delete-brown);
}

.dark-delete-brown-on-hover:hover {
  background-color: var(--dark-delete-brown);
}

/* Text classes */

.blue-lightness-0-text {
  color: var(--blue-lightness-0);
}

.blue-lightness-1-text {
  color: var(--blue-lightness-1);
}

.blue-lightness-2-text{
  color: var(--blue-lightness-2);
}

.muted-white-text{
  color: var(--muted-white);
}

.white-text {
  color: white;
}

.accent-yellow-text {
  color: var(--accent-yellow);
}

.accent-green-text{
  color: var(--accent-green);
}